body {
}

#footer1 {
    text-align: center;
    background: #0094ff;
}

#navbar {
    background: #0094ff;
}

.footerlinks {
    color: lightgrey;
}

.navbar-brand {
    color: lightgrey;
}

.vertical-center {
    min-height: 100%; /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}